# -- Extras --------------------------------------------------------------------

# Server
alias server='open http://localhost:8000 && http-server -p 8000'

# Go up N directories
up() {
  str=""
  count=0
  while [ "$count" -lt "$1" ];
  do
    str=$str"../"
    let count=count+1
  done
  cd $str
}

#export PYTHONPATH=$PYTHONPATH:/Users/mike/Projects/snworks/ceo-c2/venv/lib/python3.7/site-packages

# git status
alias gs="git status"
alias xo-setup="curl -s https://s3.amazonaws.com/static.getsnworks.com/local-dev/setup.sh | /bin/bash"
#alias ceo_c2="/usr/local/bin/python3 /Users/mike/Projects/snworks/ceo-c2/ceo_c2"
#alias exakat="docker run --rm -it -v /Users/mike/Tools/exakat/projects:/usr/src/exakat/projects exakat/exakat exakat"
alias serve="php -S localhost:8888 -t ."
#alias endcov="curl -s -L covid19.trackercli.com/us"
